h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 8vw;
}
body{
    font-family: Lato, sans-serif;
    text-align:center;
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
}